@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Nunito', sans-serif;
}

.c-button{
    display: inline-block;
    width: 100px;
    font-weight: 600;
    color: #0097e6;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.c-button:hover{
    color: white;
    background-color: #0097e6;
}

.s-btn{
    display: inline-block;
    width: 100px;
    font-weight: 600;
    background-color: #0097e6;
    color: white;
    border: 2px solid #0097e6;
    
}

.s-btn:hover{
    background-color: white;
    color: #0097e6;
    border: 2px solid #0097e6;
}

#s-input{
    width: 30%;
    border: 2px solid #0097e6;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
}

.card-country{
    /* height: 200px; */
    border-radius: 10px;
    padding: 25px 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h5{
    margin-bottom: 0px;
}

#spinner{
    display: none;
    top: 65%;
    left: 50%;
}